<div class="game-container" ng-if="!loading">

</div>

<div ng-if="loading" class="center">
    <h4>Loading Game...</h4>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</div>

<div id="loadModal" class="modal">
    <div class="modal-content center-text">
            <h5>Loading Game...</h5>
            <spinner></spinner>
    </div>
</div>

<div ng-if="error" class="center">
    <i class="large material-icons red-text">error</i>
    <h4>Uh-oh!  An error occurred loading the game</h4>
</div>


<!--...OLD...-->

<!--<div class="game-container">-->
    <!--<div>-->
        <!--<div>-->
            <!--<div class="row">-->
                <!--<div class="col s6">-->
                <!--<div class="card blue darken-4">-->
                    <!--<div class="card-content white-text">-->
                        <!--<h4>Find the {{ correctAnswer }}</h4>-->
                        <!--<h4>{{ response}}</h4>-->
                    <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col s6">-->
                <!--<div class="card blue darken-4">-->
                    <!--<div class="card-content white-text">-->
                        <!--<div ng-if="questionsRemaining">-->
                            <!--<div class="col s9">-->
                                <!--<h5> Questions left: {{ questionsRemaining}} </h5>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col s9">-->
                            <!--&lt;!&ndash;<h3> {{ totalCorrect }} / {{ totalQuestions }}</h3>&ndash;&gt;-->
                            <!--<h5>Total correct: {{totalCorrect}}</h5>-->
                            <!--&lt;!&ndash;<div ng-if="percentCorrect">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h3> {{ percentCorrect }}% correct</h3>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div ng-if="response" class="card-content white-text">-->
                            <!--<div ng-click="reload()" class="btn-floating btn-large waves-effect waves-dark brown">-->
                                <!--&lt;!&ndash;<i class="material-icons large">input</i><h5></h5></a>&ndash;&gt;-->
                                <!--NEXT-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; TODO Preload images , hide while loading &ndash;&gt;-->

                <!--<div class="row" ng-if="showImages">-->
                    <!--<div class="col s6">-->

                        <!--<img class="responsive-img"-->
                             <!--imageonload-->
                             <!--ng-click="select(bugName0)"-->
                             <!--ng-src="{{ bugPic0}}"-->
                             <!--style="width: 25% margin: 10px;">-->
                    <!--</div>-->

                    <!--<div class="col s6" >-->
                        <!--<img class="responsive-img" imageonload ng-click="select(bugName1)" ng-src="{{ bugPic1}}" style="width: 25% margin: 10px;">-->
                    <!--</div>-->
                    <!--<div class="col s6">-->
                        <!--<img class="responsive-img" imageonload ng-click="select(bugName2)" ng-src="{{ bugPic2}}" style="width: 25% margin: 10px;">-->
                    <!--</div>-->
                    <!--<div class="col s6">-->
                        <!--<img class="responsive-img" imageonload ng-click="select(bugName3)" ng-src="{{ bugPic3}}" style="width: 25% margin: 10px;">-->
                    <!--</div>-->
                <!--</div>-->
            <!--<div class="row">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="parallax-container">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="parallax"><img src="http://res.cloudinary.com/duyfjnu2h/image/upload/v1448169233/vegetable-garden_s9ubw7.jpg"></div>&ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash;<script>&ndash;&gt;-->
    <!--&lt;!&ndash;$(document).ready(function(){&ndash;&gt;-->
        <!--&lt;!&ndash;$('.parallax').parallax();&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
