<div class="lobby-container">
    <div class="row">
        <!-- Bug Zap Link-->
        <div class="col s12 m4">
            <div class="card small clickable" ng-class="!checkStatus('bug_zap') || allDone()? '' : 'disabled-card'" ng-click="goToBugZap()">
                <div class="card-image">
                    <img style="height: 100%;" src="app/assets/images/thumbs/bug-zap.png">
                    <!--<span class="card-title">Zap the Pests</span>-->
                </div>
                <div class="card-content">
                    <h4 class="center-text">Zap The Pests</h4>
                    <p class="center-text">
                    Keep your garden safe by zapping the bad bugs who have invaded!
                    </p>
                    <span class="pull-right">
                        <i ng-if="checkStatus('bug_zap')" class="material-icons" style="color: green;">check</i>
                        <i ng-if="!checkStatus('bug_zap')" class="material-icons" style="color: red;">close</i>
                    </span>
                </div>
            </div>
        </div>

        <!-- Bug Sort Link-->
        <div class="col s12 m4">
            <div class="card small clickable" ng-class="!checkStatus('bug_sort') || allDone()? '' : 'disabled-card'" ng-click="goToBugSort()">
                <div class="card-image">
                    <img style="height: 100%;" src="app/assets/images/thumbs/bug-sort.png">
                    <!--<span class="card-title">Sort the Bugs</span>-->
                </div>
                <div class="card-content">
                    <h4 class="center-text">Sort the Bugs</h4>
                    <p class="center-text">
                        Help your garden by sorting the good bugs into baskets.
                    </p>
                    <span class="pull-right">
                        <i ng-if="checkStatus('bug_sort')" class="material-icons" style="color: green;">check</i>
                        <i ng-if="!checkStatus('bug_sort')" class="material-icons" style="color: red;">close</i>
                    </span>
                </div>
            </div>
        </div>

        <!-- Bug Match Link-->
        <div class="col s12 m4">
            <div class="card small clickable" ng-class="!checkStatus('bug_match') || allDone()? '' : 'disabled-card'" ng-click="goToBugMatch()">
                <div class="card-image">
                    <img style="height: 100%;" src="app/assets/images/thumbs/bug-match.png">
                    <!--<span class="card-title">Match the Bugs</span>-->
                </div>
                <div class="card-content">
                    <h4 class="center-text">Match the Bugs</h4>
                    <p class="center-text">
                        See if you can name the bugs who invaded your garden!
                    </p>
                    <span class="pull-right">
                        <i ng-if="checkStatus('bug_match')" class="material-icons" style="color: green;">check</i>
                        <i ng-if="!checkStatus('bug_match')" class="material-icons" style="color: red;">close</i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Plant Match Link-->
        <div class="col offset-m2 m4 s12">
            <div class="card small clickable" ng-class="!checkStatus('plant_match') || allDone()? '' : 'disabled-card'" ng-click="goToPlantMatch()">
                <div class="card-image">
                    <img style="height: 100%;" src="app/assets/images/thumbs/plant-match.png">
                    <!--<span class="card-title">Match the Bugs</span>-->
                </div>
                <div class="card-content">
                    <h4 class="center-text">Match the Plants</h4>
                    <p class="center-text">
                        See if you can identify the plants in your garden.
                    </p>
                    <span class="pull-right">
                        <i ng-if="checkStatus('plant_match')" class="material-icons" style="color: green;">check</i>
                        <i ng-if="!checkStatus('plant_match')" class="material-icons" style="color: red;">close</i>
                    </span>
                </div>
            </div>
        </div>

        <!-- New Game Link-->
        <div class="col m4 s12">
            <div class="card small clickable" ng-class="!checkStatus('fruit_veggie') || allDone()? '' : 'disabled-card'" ng-click="goToFruitVeggie()">
                <div class="card-image">
                    <img style="height: 100%;" src="app/assets/images/thumbs/fruit-veggie.png">
                </div>
                <div class="card-content">
                    <h4 class="center-text">Fruits & Veggies!</h4>
                    <p class="center-text">
                        See if you can sort out the fruits and the vegetables.
                    </p>
                    <span class="pull-right">
                        <i ng-if="checkStatus('fruit_veggie')" class="material-icons" style="color: green;">check</i>
                        <i ng-if="!checkStatus('fruit_veggie')" class="material-icons" style="color: red;">close</i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal triggers -->
    <div class="row" ng-if="!showNav">
        <div class="col offset-s11 s1">
            <span class="pull-right clickable">
                <a modal-init class="red waves-effect waves-light btn modal-trigger" href="#unlockModal">
                    <i class="material-icons small">lock</i>
                </a>
            </span>
        </div>
    </div>

    <div class="row" ng-if="showNav">
        <div class="col offset-s11 s1">
            <span class="pull-right">
                <a modal-init class="waves-effect waves-light btn modal-trigger" href="#lockModal">
                    <i class="material-icons small">lock_open</i>
                </a>
                <br>
                <br>
                <a modal-init class="green white-text waves-effect waves-light btn modal-trigger" href="#finishModal">
                    <!--<i class="material-icons small">check_box</i> Finish Test-->
                    <span>Finish Test</span>
                </a>
            </span>
        </div>
    </div>
</div>

<!--Unlock modals-->
<!-- Modal Structure if pin is required-->
<div id="unlockModal" class="modal" ng-if="settings.requirePin">
    <div class="modal-content">
        <h4>Unlock Application</h4>
        <p>Enter the admin PIN to unlock the application:</p>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="" id="code" type="number" class="validate" ng-model="code">
                <label for="code">PIN</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="unlock(code)">Unlock</a>
        <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
</div>

<!-- Modal Structure if PIN is not required-->
<div id="unlockModal" class="modal" ng-if="!settings.requirePin">
    <div class="modal-content">
        <h4>Unlock Application</h4>
        <p>The application is currently configured to unlock without the PIN.  Please confirm that you want to unlock.</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="unlock()">Unlock</a>
        <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
</div>


<!--Lock Modals-->
<div id="lockModal" class="modal">
    <div class="modal-content">
        <h4>Lock Application</h4>
        <p>Please confirm that you wish to lock the application</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="lock()">Lock</a>
        <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
</div>

<!--Finish confirm modal-->
<div id="finishModal" class="modal">
    <div class="modal-content">
        <h4>Finish Test</h4>
        <p ng-if="!allDone()"><span class="red-text">Warning: </span> The student has not completed all tests.</p>
        <p>Finishing the test will record the student's current results.  Is this what you want?</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="finish()">Finish Test</a>
        <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
</div>