<div class="game-container" ng-if="!loading">

</div>

<div ng-if="loading" class="center">
    <h4>Loading Game...</h4>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</div>

<div id="loadModal" class="modal">
    <div class="modal-content center-text">
        <h5>Loading Game...</h5>
        <spinner></spinner>
    </div>
</div>

<div ng-if="error" class="center">
    <i class="large material-icons red-text">error</i>
    <h4>Uh-oh!  An error occurred loading the game</h4>
</div>