<div class="center">
    <div ng-if="!loading">
        <i class="large material-icons red-text">error</i>
        <h5>Whoops!</h5>
        <p>We encountered an error uploading the test results. <br/> Please ensure you have a stable network connection.</p>
        <a class="waves-effect waves-light btn green" ng-click="retry()">Retry</a>
        <a class="waves-effect waves-light btn red" ng-click="abort()">Abort</a>
    </div>
    <div ng-if="loading">
        <h4>Loading...</h4>
        <spinner></spinner>
    </div>
</div>