<div ng-if="!error && loading" class="center">
    <spinner></spinner>
</div>

<div ng-if="error">
    <error-bar message="{{error}}" acknowledge="clearError"></error-bar>
</div>

<div ng-if="!error">
    <!-- Message if there are no locations -->
    <div ng-if="!loading && !locations.length">
        <div class="center text-large">
            <i class="icon icon-remove red-text"></i>
        </div>
        <p>There are currently no locations.  Please add one.</p>
    </div>

    <!-- List of locations-->
    <div ng-if="!loading && locations.length" class="offset-left">
        <table class="row-border hover striped">
            <thead>
            <tr>
                <th class="clickable" ng-click="chooseSorting('name')">
                    Name
                    <i ng-if="orderOption=='name'"
                       ng-class="(reverseOrder)? 'entypo-down-open' : 'entypo-up-open'"
                       class="no-italics"
                    ></i>
                </th>
                <th class="clickable" ng-click="chooseSorting('active')">Active
                    <i ng-if="orderOption=='active'"
                       ng-class="(reverseOrder)? 'entypo-down-open' : 'entypo-up-open'"
                       class="no-italics"
                            ></i>
                </th>
            </tr>
            </thead>
            <tbody class="scrolling fixed-height-40">
            <tr ng-repeat="
            location in locations
            | orderBy: sort : reverseOrder
            | filter: shouldFilter
            | filter: query
            track by $index
            ">
                <td>{{ location.name }}</td>
                <td>
                    <p>
                        <input type="checkbox" id="active{{location.locationID}}" ng-model="location.active" ng-change="updateLocation(location)"/>
                        <label for="active{{location.locationID}}"></label>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <br>
    <br>
    <!-- Add Location -->
    <div class="offset-left">
        <h5>Add a new location</h5>
        <hr>
        <div class="row">
            <div class="input-field col-s4">
                <input id="newLocName" type="text" class="validate" ng-model="newLocation.name">
                <label for="newLocName">Location Name</label>
            </div>
        </div>

        <a class="waves-effect waves-light btn" ng-disabled="!newLocation.name || !newLocation.name.length" ng-click="addLocation()"><i class="material-icons left">add</i>Add Location</a>
    </div>
</div>

