<div ng-if="!error && loading" class="center">
    <spinner></spinner>
</div>

<div ng-if="error">
    <error-bar message="{{error}}" acknowledge="clearError"></error-bar>
</div>

<div ng-if="!error && !loading">
    <div class="row">
        <div class="input-field col s6 m2">
            <input id="pin"ng-model="settings.pin" type="text" pattern="\d{4}" length="4" char-counter-init>
            <label for="pin" class="active" >Game PIN</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <p>
                <input type="checkbox" id="require" ng-model="settings.requirePin" />
                <label for="require">Require PIN</label>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <p>
                <input type="checkbox" id="remind" ng-model="settings.remindPin" />
                <label for="remind">Remind Instructors of PIN</label>
            </p>
        </div>
    </div>

    <br>

    <button tertiary class="waves-effect waves-light btn" ng-disabled="settings.pin.length!=4" ng-class="settings.pin.length!=4? 'disabled':''" ng-click="update()">
        <i class="material-icons left">update</i>
        Update Settings
    </button>
</div>
