﻿<nav>
    <div class="nav-wrapper" primary>
        <a href="#" class="brand-logo center" text-secondary>Scratch Red</a>
    </div>
</nav>
<br/>
<info-bar ng-if="specialMessage" message="{{specialMessage}}"></info-bar>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input text-dark id="email" type="email" class="validate" ng-model="loginData.userName">
                <label for="email" data-error="Invalid Email" data-success="Valid Email">Email Address</label>
            </div>
            </div>
        <div class="row">
            <div class="input-field col s12">
                <input text-dark id="password" type="password" ng-model="loginData.password">
                <label for="password">Password</label>
            </div>
        </div>
        <button tertiary text-light ng-if="!loading" class="waves-effect waves-light btn-large" ng-click="login()">
            <i class="material-icons left">launch</i>
            Login
        </button>
        <!--<button text-light ng-if="!loading" class="red waves-effect waves-light btn-large" ng-click="adminLogin()">-->
            <!--<i class="material-icons left">launch</i>-->
            <!--Admin Login-->
        <!--</button>-->
        <div ng-if="loading">
            <spinner></spinner>
        </div>
        <div ng-if="errorMessage">
            <error-bar message="{{errorMessage}}" acknowledge="acknowledge"></error-bar>
        </div>
    </form>

</div>
