﻿<div nav-title>Dashboard</div>

<div class="dashboardGrouping">
    <div class="headerGroup">
        <h4>Welcome to the Scratch Assessment program!</h4>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div class="card center-text clickable" ui-sref="app.my-account">
                <div>
                    <img class="dashboard-card-image" src="app/assets/images/myAccount.png">
                </div>
                <div class="card-content">
                    <h5>My Account</h5>
                    <div>
                        <p>
                            Here you can view and edit your SCRATCH account details.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6" ng-if="isAdmin">
            <div class="card center-text clickable" ui-sref="app.test-management">
                <div >
                    <img class="dashboard-card-image" src="app/assets/images/manageGames.png">
                </div>
                <div class="card-content">
                    <h5>Game Management</h5>
                    <div>
                        <p>
                            Here you can edit game content and images, add and remove testing sites, and modify game settings
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card center-text clickable" ui-sref="app.test-start">
                <div >
                    <img class="dashboard-card-image" src="app/assets/images/startAGame.jpg">
                </div>
                <div class="card-content">
                    <h5>Begin a Game</h5>
                    <div>
                        <p>
                            Setup a game for a student to play.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card center-text clickable" ui-sref="app.account-management.students">
                <div >
                    <img class="dashboard-card-image" src="app/assets/images/userManagement.png">
                </div>
                <div class="card-content">
                    <h5>User Management</h5>
                    <div>
                        <p>
                            Click here to create and modify students.
                            <span ng-if="isAdmin">You can also create and modify other user accounts.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card center-text clickable" ui-sref="app.reports">
                <div >
                    <img class="dashboard-card-image" src="app/assets/images/reports.png">
                </div>
                <div class="card-content">
                    <h5>Reporting</h5>
                    <div>
                        <p>
                            Here you can generate reports on student performance.
                            You can view them in your browser or download the raw data.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6" ng-class="isAdmin? '' : 'offset-m3'" ng-controller="myAccountController">
            <div class="card center-text clickable" ng-click="logout()">
                <div >
                    <img class="dashboard-card-image" src="app/assets/images/logout.png">
                </div>
                <div class="card-content">
                    <h5>Logout</h5>
                    <div>
                        <p>
                            Click here to logout of the application.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- End row -->

</div>


