<div class="card-panel red white-text row">
    <div class="col s10 center-vertical" >
        An error occurred: {{message}}
    </div>
    <div class="col s2">
        <button class="btn-floating waves-effect waves-light red lighten-3 pull-right" ng-if="acknowledge!=null" ng-click="acknowledge()">
            <i class="right material-icons">done</i>
        </button>
    </div>
</div>