<div class="card-panel amber lighten-5">
    {{message}}
    <button class="btn-floating waves-effect waves-light red lighten-3 pull-right" ng-if="acknowledge!=null" ng-click="acknowledge()">
        <i class="material-icons" >done</i>
    </button>
</div>