﻿<div nav-title>Reports</div>
<!--<h4>Generate a Report</h4>-->
<div ng-if="loading" class="center">
    <spinner></spinner>
</div>
<div ng-if="error">
    <error-bar message="Error loading.  Please try again" acknowledge="acknowledge"></error-bar>
</div>
<div ng-if="!loading && !error">
    <div ng-if="!students.length || !sessions.length" class="center">
        <!--<i class="material-icons medium yellow-text">Warning</i>-->
        <i class="large material-icons yellow-text">warning</i>
        <div ng-if="!students.length">There are currently no students!</div>
        <div ng-if="!sessions.length">There is currently no test data!</div>
    </div>
    <div ng-if="students.length && sessions.length">
        <div class="row">
            <div class="col col s12 m6">
                <ul class="collection with-header" style="height: 35vh; overflow-y: scroll;">
                    <li class="collection-header"><h5>Select Included Locations</h5></li>
                    <li class="collection-item" ng-repeat="location in locations" ng-click="toggleSelected(location)">
                        <div class="clickable">
                            {{location.name}}
                            <a class="secondary-content">
                                <i ng-if="location.selected" class="material-icons green-text">label</i>
                                <i ng-if="!location.selected" class="material-icons black-text">label_outline</i>
                            </a>
                        </div>
                    </li>
                </ul>

                <div class="row">
                    <div class="col s6"><button ng-click="selectAllLocations()"  class="waves-effect waves-light btn green" text-secondary>Select All</button></div>
                    <div class="col s6" ><button ng-click="selectNoLocations()" class="waves-effect waves-light btn grey" text-secondary>Clear</button></div>
                </div>

            </div>
            <div class="col s12 m6">

                <ul class="collection with-header" style="height: 35vh; overflow-y: scroll;">
                    <li class="collection-header"><h5>Select Included Chapters</h5></li>
                    <li class="collection-item" ng-repeat="chapter in chapters" ng-click="toggleSelected(chapter)">
                        <div class="clickable">
                            {{chapter.num}}
                            <a class="secondary-content">
                                <i ng-if="chapter.selected" class="material-icons green-text">label</i>
                                <i ng-if="!chapter.selected" class="material-icons black-text">label_outline</i>
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="col s6"><button ng-click="selectAllChapters()"  class="waves-effect waves-light btn green" text-secondary>Select All</button></div>
                    <div class="col s6" ><button ng-click="selectNoChapters()" class="waves-effect waves-light btn grey" text-secondary>Clear</button></div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col col s12 m6">
                <ul class="collection with-header" style="height: 35vh; overflow-y: scroll;">
                    <li class="collection-header"><h5>Select Included Students</h5></li>
                    <li class="collection-item" ng-repeat="student in students" ng-click="toggleSelected(student)">
                        <div class="clickable">
                            {{student.studentID}}
                            <a class="secondary-content">
                                <i ng-if="student.selected" class="material-icons green-text">label</i>
                                <i ng-if="!student.selected" class="material-icons black-text">label_outline</i>
                            </a>
                        </div>
                    </li>
                </ul>

                <div class="row">
                    <div class="col s6"><button ng-click="selectAllStudents()"  class="waves-effect waves-light btn green" text-secondary>Select All</button></div>
                    <div class="col s6" ><button ng-click="selectNoStudents()" class="waves-effect waves-light btn grey" text-secondary>Clear</button></div>
                </div>

            </div>
            <div class="col s12 m6">
                <h5>Date Range</h5>
                <label for="datepicker1">Start Date</label>
                <input type="date" id="datepicker1" class="datepicker" placeholder="Select a Date" date-picker-init>

                <label for="datepicker2">End Date</label>
                <input type="date" id="datepicker2" class="datepicker" placeholder="Select a Date" date-picker-init>
            </div>
        </div>

        <error-bar ng-if="formError" message="{{formError}}" acknowledge="acknowledgeFormError"></error-bar>

        <button class=" offset-left btn waves-effect waves-light green" type="submit" ng-click="downloadCSV()">Download Report
            <i class="material-icons right">file_download</i>
        </button>

        <button class=" offset-left btn waves-effect waves-light blue" type="submit" ng-click="generateReport()">View Report
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>
