<div class="modal-content">
    <h4>Errors</h4>
    <h5>The following errors occurred while generating the report:</h5>
    <ul class="collection">
        <li class="collection-item" ng-repeat="error in errors">{{error.message}}</li>
    </ul>
</div>
<div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat " ng-click="closeModal()">Proceed</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat " ng-click="goBack()">Go Back</a>
</div>

