﻿/* Styles go here */
/*Import icon font:*/
/*TODO: get rid of this.  We should only use things that can be accessed over HTTP*/
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo icons */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

/* ---------------------------- Size styling ------------------------------------ */
.text-small{
    font-size:1em;
}

.text-med{
    font-size: 1.5em;
}

.text-large{
    font-size: 2em;
}

/* ---------------------------- General Styles ------------------------------------ */
.center{
    display: block;
    text-align: center;
    vertical-align: middle;
    width: 100vw;
}
.center-text{
    text-align: center;
    vertical-align: middle;
}
.center-vertical{
    top: 50%;
}

.header{
    position: fixed;
    top:0;
    height: 3em;
    width: 100vw;
}

.title{
    position: absolute;
    color: white;
    text-align: center;
    font-size: 1.5em;
    top: 1vh;
    height: 3.5vh;
    width: 100vw;
}

.content{
    position: fixed;
    top: 3em;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    margin-left: 2em;
    margin-right: 2em;
}

.center{
    text-align: center;
}

.middle{
    vertical-align: middle;
}

.toggle-label{
    height: 100%;
    vertical-align: middle;
    top: 0;
    font-size: 2em;
}

.offset-left{
    margin-left: 2em;
}

.scrolling{
    overflow: scroll;
}

.pull-right{
    position: relative;
    float: right;
}

.no-italics{
    font-style: normal;
}

.clickable{
    cursor: pointer;
}

/*-----------------------------Dashboard-----------------------------------*/


.card .card-content div{
    display: block;
    max-width: 65%;
    height: 10vh;
    overflow: hidden;
    margin: auto;
    text-align: center;
}

/*Override*/
.card .card-content{
    padding: 5px;
}

.dashboard-card-image
{
    margin: auto;
    max-height: 10vh;
}

.dashboardGrouping
{
    width:80vw;
    margin:0 auto;
    align-content:center;
}

.headerGroup
{
    text-align:center;
}

/*.rowLeft*/
/*{*/
    /*width:100%;*/
    /*float:left;*/

/*}*/

/*.rowLeftGroup*/
/*{*/
    /*width:48%;*/
    /*float:left;*/
    /*min-width:300px;*/

/*}*/

/*.rowRight*/
/*{*/
    /*width:100%;*/
    /*float:right;*/
/*}*/
/*.rowRightGroup*/
/*{*/
    /*float:right;*/
    /*width:48%;*/
    /*min-width:300px;*/

/*}*/

/* ---------------------------- Fonts ------------------------------------ */
.title-font {
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
}

/* ---------------------------- Login Page ------------------------------------ */
.full-height {
    height: 100vh;
}
.fixed-height-80{
    height: 80vh;
}
.fixed-height-60{
    height: 60vh;
}
.fixed-height-40{
    height: 40vh;
}
.fixed-height-20{
    height: 20vh;
}

/* ---------------------------- Student Mgmt ------------------------------------ */

.bounded-table{
    max-height: 60vh;
    width: 95vw;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* ---------------------------- Test Mgmt ------------------------------------ */
.img-preview{
    max-width: 15vw;
    max-height: 15vh;
}


/* ---------------------------- Game Lobby ------------------------------------ */
.lobby-container{
    margin: 1em;
    border: 1px solid black;
    border-radius: 2em;
    padding: 2em;
}

.disabled-card{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    cursor: default;
}


/* ---------------------------- Gallery ------------------------------------ */
.gallery-image{
    max-height: 100%;
    max-width: 100%;
}