<div id="accountDetailModal" class="modal">
    <div class="modal-content">
        <h4>Modify Account</h4>
        <hr/>

    </div>
    <error-bar ng-if="addError" message="{{addError}}" acknowledge="acknowledge"></error-bar>
    <div class="modal-footer">
        <button class="waves-effect waves-light btn-flat" tertiary text-secondary ng-click="addAccount()">Submit</button>
    </div>

</div>