<div id="addAccountModal" class="modal">
    <div class="modal-content">
        <h4>Add New Account</h4>
        <hr/>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Email Address" id="username" type="email" class="validate" ng-model="data.userName">
                <label for="username">Email Address</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Confirm Email" id="confirmUser" type="email" class="validate" ng-model="data.confirmUsername">
                <label for="confirmUser">Confirm Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Password" id="password" type="password" class="validate" ng-model="data.password">
                <label for="password">Password</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Confirm Password" id="confirmPass" type="password" class="validate" ng-model="data.confirmPassword">
                <label for="confirmPass">Confirm Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="First Name" id="first_name" type="text" class="validate" ng-model="data.firstName">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Last Name" id="last_name" type="text" class="validate" ng-model="data.lastName">
                <label for="last_name">Last Name</label>
            </div>
        </div>
    </div>
    <error-bar ng-if="addError" message="{{addError}}" acknowledge="acknowledge"></error-bar>
    <div class="modal-footer">
        <button class="waves-effect waves-light btn-flat" tertiary text-secondary ng-click="addAccount()">Submit</button>
    </div>
</div>