<div nav-title>My Account</div>

<div class="container">
    <h5>Account Details</h5>
    <div ng-controller="myAccountController">
        <spinner ng-if="loading"></spinner>
        <div ng-if="!loading">
            <div class="divider"></div>
            <div class="section">
                <p><b>Username:</b> </br> {{ user.userName}}</p>
                <p><b>Date created:</b> </br> {{ user.createdDate | formatDate}}</p>
                <p ng-if="!editName">
                    <b>First name:</b> </br> {{ user.firstName }}
                </p>

                <p ng-if="editName">
                    <b>First name:</b> </br> <input type="text" ng-model="user.firstName">
                </p>

                <p ng-if="!editName">
                    <b>Last name:</b> </br> {{ user.lastName }}
                </p>

                <p ng-if="editName">
                    <b>Last name:</b> </br> <input type="text" ng-model="user.lastName">
                </p>

                <div class="row" ng-if="editPass">
                    <div class="divider"></div>
                    <div class="col s6">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Current Password" id="old_pass" type="password" class="validate" ng-model="passwordReset.oldPass">
                                <label for="old_pass">Current Password</label>
                            </div>
                            <div class="input-field col s12">
                                <input placeholder="New Password" id="new_pass" type="password" class="validate" ng-model="passwordReset.newPass">
                                <label for="new_pass">New Password</label>
                            </div>
                            <div class="input-field col s12">
                                <input placeholder="Confirm New Password" id="cnew_pass" type="password" class="validate" ng-model="passwordReset.confirmNewPass">
                                <label for="cnew_pass">Confirm New Password</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="section">
                <a class="waves-effect waves-light btn" tertiary ng-click="startNameChange()" ng-show="!editName && !editPass">
                    <i class="material-icons">edit</i>
                    Edit Name
                </a>
                <a class="waves-effect waves-light btn" tertiary ng-click="submitNameChange()" ng-show="editName">
                    Submit
                </a>
                <a class="waves-effect waves-light btn red" ng-click="cancelNameChange()" ng-show="editName">
                    Cancel
                </a>
            </div>

            <div class="section">
                <button class="waves-effect waves-light btn" tertiary ng-click="startPasswordChange()" ng-show="!editName && !editPass">
                    <i class="material-icons">lock</i>
                    Change Password
                </button>
                <button class="waves-effect waves-light btn" tertiary ng-click="submitPasswordChange()" ng-show="editPass">
                    Submit
                </button>
                <button class="waves-effect waves-light btn red" ng-click="cancelPasswordChange()" ng-show="editPass">
                    Cancel
                </button>

                <error-bar ng-if="passwordReset.error" message="{{passwordReset.error}}"></error-bar>
            </div>

            <div class="section">
                <button class="waves-effect waves-light btn" primary ng-click="logout()" ng-show="!editName && !editPass">
                    <i class="material-icons">launch</i>
                    Logout
                </button>
            </div>

        </div>
    </div>
</div>
